<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabelas</title>
    <link rel="stylesheet" href="tabelas.css">
</head>
<body>
    <table border="10">
        <!-- estrutura da tabela -->
          <thead>
            <tr>
                <th>Nome</th> <!-- define o valor do cabeçalho-->
                <th>Idade</th> <!-- define o valor do cabeçalho-->
                <th>Cidade</th> <!-- define o valor do cabeçalho-->
            </tr> <!-- Linha -->
          </thead> <!-- Cabeçalho da Tabela-->

          <tbody>
            <tr>
                <td>Gabrielle</td>
                <td>20</td>
                <td>Mauami</td>
            </tr>
            <tr>
                <td>Eloah</td>
                <td>11 Meses</td>
                <td>Mauami</td>
            </tr>
            <tr>
                <td>Juliana</td>
                <td>18</td>
                <td>Itapevi</td>
            </tr>

          </tbody> <!-- Corpo da Tabela-->
    </table>

    <table border="5">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Turma</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alice</td>
                <td>19</td>
                <td>Biolab</td>
            </tr>
            <tr>
                <td>Anne</td>
                <td>22</td>
                <td>Biolab</td>
            </tr>
            <tr>
                <td>Daniel</td>
                <td>17</td>
                <td>Biolab</td>
            </tr>
            <tr>
                <td>Gabriel</td>
                <td>20</td>
                <td>Biolab</td>
            </tr>

        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>Filme</th>
                <th>Ano</th>
                <th>Genero</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Barbie Escola de Princesas</td>
                <td>2011</td>
                <td>Animação, Fantasia</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Teen Beach Movie</td>
                <td>2013</td>
                <td>Musical</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Ela é o cara</td>
                <td>2006</td>
                <td>Comedia</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Descendents</td>
                <td>2015</td>
                <td>Teen</td>
                <td>90</td>
            </tr>
            <td>Tinkerbell e o Segredo das Fadas</td>
            <td>2012</td>
            <td>Fantasia e Animação</td>
            <td>90</td>
            </tr>
            <tr>
                <td>Lilo e Stitch</td>
                <td>2025</td>
                <td>Live Action, Fantasia</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Aladdin</td>
                <td>2019</td>
                <td>Live Action, Fantasia</td>
                <td>100</td>
            </tr>
            <tr>
                <td>O rei leão</td>
                <td>2019</td>
                <td>Live Action, Fantasia</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Barbie Filme</td>
                <td>2023</td>
                <td>Live Action</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Barbie Moda e Magia</td>
                <td>2010</td>
                <td>Animação</td>
                <td>100</td>
            </tr>
        </tbody>
    </table>
</body>
</html>