<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabelas Mescladas</title>
    <link rel="stylesheet" href="TabelasMescladas.css">
</head>
<body>

    <table border="1">
        <thead>
            <tr>
                <th colspan="4">Lista de Filmes</th>
            </tr>
            <tr>
                <th>Genero</th>
                <th>Filme</th>
                <th>Ano</th>
                <th>Nota</th>
            </tr>

        </thead>
        
        <tbody>
            <tr>
                <td rowspan="2">Drama</td>
                <td>O Poderoso Chefão</td>
                <td>1972</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Como era antes de você</td>
                <td>2016</td>
                <td>8</td>
            </tr>
            <tr>
                <td rowspan="3">Terror</td>
                <td>Invocação do Mal</td>
                <td>2025</td>
                <td>7</td>
            </tr>
            <tr>
                <td>It a coisa</td>
                <td>2017</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Anabelle</td>
                <td>2014</td>
                <td>5</td>
            </tr>

        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
      <table border="1">
        <thead>
            <tr>
                <th colspan="4">Festival Cinema 2026</th>
            </tr>
            <tr>
                <th>Categoria</th>
                <th>Filme</th>
                <th>Horario</th>
                <th>Sala</th>
            </tr>

        </thead>
        
        <tbody>
            <tr>
                <td rowspan="2">Ação</td>
                <td>Vingadores</td>
                <td>18:00</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Batman</td>
                <td>20:30</td>
                <td>2</td>
            </tr>
            <tr>
                <td rowspan="3">Animação</td>
                <td>Toy Story</td>
                <td>16:00</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Frozen</td>
                <td>17:30</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>    
</body>
</html>