<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhando com CSS</title>
    <link rel="shortcut icon" href="./channels4_profile.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- <style>
        p{
            color: cadetblue;
        }
    </style> -->
<!-- ----- CSS INLINE ------ -->
    <!-- <h4 style="color:rgb(211, 167, 252);">Titulo de nivel 4</h4> -->

<!-- ----- CSS INTERNO ------  -->
<!-- <p>Parágrafo</p> -->
 <!-- <h1>Titulo de nivel 1</h1>
 <h2>Titulo de nivel 2</h2>
 <h3>Titulo de nivel 3</h3> -->

 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vitae exercitationem eius aspernatur numquam perspiciatis sunt odio dignissimos quaerat voluptatibus? Quaerat repudiandae quidem error maxime soluta, quas magni debitis eligendi.
 Facere nihil recusandae adipisci repudiandae nulla? Alias placeat et aperiam repellendus, dolore asperiores ratione adipisci a accusamus amet veritatis sed architecto maxime perferendis exercitationem deleniti rerum sit quae quisquam libero.
 Nesciunt, sunt sapiente. Nihil aut voluptatibus ad animi ipsum rem nisi, autem quae libero ut asperiores ratione quod nemo quos quo fugiat magnam ullam, nam facere dolore eum accusamus quam!</p>

 <div class="box">teste</div>
 <div class="elemento">sou um elemento</div>
 
 <div class="elementoverde">Sou um elemento</div>
</body>
</html>