<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="github.com/gabihlimaxw">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- eu sou um comentário -->
     <marquee bgColor= "red" direction="up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, voluptatem?</marquee>
     <marquee bgColor= "yellow"direction="down">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, quas.</marquee>
     <marquee bgColor="blue"direction="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, eius.</marquee>
     <marquee bgColor= "pink"direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, aliquid.</marquee>
</body>
</html>