<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>não ordenada</title>
</head>

<body>
    <h1>Listas não Ordenadas</h1>
    <h2>Listas de frutas</h2>
    <ul style="list-style-type:square ;">
        <li>Maçã</li>
        <li>Banana</li>
        <li>Laranja</li>
    </ul>
    <h2>Lista de Bairros</h2>
    <ul style="list-style-type: circle;">
        <li>Jardins</li>
        <li>Itaim Bibi</li>
        <li>Cambuci</li>
    </ul>

    <h2>Lista de Filmes</h2>
    <ul style="list-style-type: disc;">
        <li>Alvin e os Esquilos</li>
        <li>Barbie Escola de Princesas</li>
        <li>Barbie Moda e Magia</li>
        <li>Barbie Vida de Sereia</li>
        <li>A princesa e o sapo</li>
        <li>Enrolados</li>
        <li>Aladin</li>
        <li>Cinderela</li>
        <li>A empregada</li>
        <li>Zootopia</li>

    </ul>
    <h2>Lista de Series</h2>
    <ul>
        <li>Gotham</li>
        <li>Bridgeton</li>
        <li>Insatiable</li>
        <li>Todo mundo odeia o Chris</li>
        <li>Um maluco no pedaço</li>
        <li>Eu a patroa e as crianças</li>
        <li>As visões da Raven</li>
        <li>Anne with E</li>
        <li>Greys Anatomy</li>
        <li>Lupin</li>

    </ul>
    <h2>Lista de cursos</h2>
    <ul>


        <li>Desenvolvimento de Sistemas</li>
        <li>Publicidade e Propaganda</li>
        <li>Jornalismo</li>
        <li>Psicologia</li>
        <li>Administração</li>
        <li>Design Grafico</li>
        <li>Enfermagem</li>
        <li>Radiologia</li>
        <li>Medicina Veterinária</li>
        <li>Biomedicina</li>
    </ul>

</body>

</html>