<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista ordenada</title>
</head>

<body>
    <h1>Listas Ordenadas</h1>

    <h2>Itens</h2>
    <ol type="1">
        <li>Primeiro item</li>
        <li>Segundo item</li>
        <li>Terceiro item</li>
    </ol>
    <h2>Selecione sua bebida</h2>
    <ol type="A">
        <li>Café</li>
        <li>Chá</li>
        <li>Leite</li>
    </ol>
    <h2>Lista de Rotina de Estudo</h2>
    <ol type="a">
        <li>Acordar</li>
        <li>Me arrumar</li>
        <li>Ir até o ponto</li>
        <li>Pegar o onibus</li>
        <li>Pegar o trem</li>
        <li>Pegar o metro</li>
        <li>Pegar o onibus</li>
        <li>Chegar no senai</li>
        <li>Ligar Computador</li>
        <li>Logar em tudo</li>
        <li>Anotar no caderno</li>
    </ol>
    <h2>Passos para criar um HTML</h2>
    <ol type="I">
        <li>Abra o VSCODE</li>
        <li>Crie a pasta</li>
        <li>Crie o arquivo</li>
        <li>Coloque o auto save</li>
        <li>Coloque a estrutura do documento</li>
        <li>Adicione as tags HTML principais</li>
        <li>Crie o cabeçalho</li>
        <li>Crie o corpo</li>
        <li>Adicione conteúdo</li>
        <li>Abra no Navegador</li>
    </ol>
    <h2>Checklist para entregar a atividade</h2>
    <ol type="i">
        <li>Abrir um arquivo</li>
        <li>Ler a atividade</li>
        <li>Fazer a atividade</li>
        <li>Conferir se a atividade está certa</li>
        <li>Corrigir se precisar</li>
        <li>Abrir o classroom</li>
        <li>Salvar o arquivo da atividade</li>
        <li>Fazer upload do arquivo para o Classroom</li>
        <li>Enviar para o professor</li>
        <li>Conferir se enviou</li>
    </ol>
</body>

</html>